.business-wrapper {
	width: 100%;
	max-width: 900px;
	margin-left: auto;
	gap: 40px;
	height: fit-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	font-family: "Montserrat";
	.business-title {
		color: #aa3a3a;
		justify-content: center;
		width: 100%;
		text-align: center;
	}
	.business-item {
		display: flex;
		flex-direction: column;
		width: fit-content;
		max-width: 900px;
		height: fit-content;
		transition: all 0.5s;
		border: 2px solid #aa3a3a;
		padding: 5px 10px 5px 10px;
		border-radius: 16px;
		.item-header {
			display: flex;
			flex-direction: row;
			font-size: 1.2em;
			width: 100%;
		}
		.item-content {
			width: 100%;
			padding-top: 10px;
		}
	}
	.business-item:hover {
		border: 2px solid transparent;
		padding: 15px 20px 15px 20px;
		transform: scale(1.1);
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}
}
